<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Freelance</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>indexS</servlet-name>
    <servlet-class>com.Freelance.servlets.indexS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexS</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FreelancerS</servlet-name>
    <servlet-class>com.Freelance.servlets.FreelancerS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FreelancerS</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.Freelance.servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginS</servlet-name>
    <servlet-class>com.Freelance.servlets.LoginS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginS</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfilBuyer</servlet-name>
    <servlet-class>com.Freelance.servlets.ProfilBuyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilBuyer</servlet-name>
    <url-pattern>/buyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Addproject</servlet-name>
    <servlet-class>com.Freelance.servlets.Addproject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addproject</servlet-name>
    <url-pattern>/addproject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfilFreelancer</servlet-name>
    <servlet-class>com.Freelance.servlets.ProfilFreelancer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilFreelancer</servlet-name>
    <url-pattern>/freelancer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Browserproject</servlet-name>
    <servlet-class>com.Freelance.servlets.Browserproject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Browserproject</servlet-name>
    <url-pattern>/projects</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Applyproject</servlet-name>
    <servlet-class>com.Freelance.servlets.Applyproject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Applyproject</servlet-name>
    <url-pattern>/applyproject</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Showapply</servlet-name>
    <servlet-class>com.Freelance.servlets.Showapply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showapply</servlet-name>
    <url-pattern>/showapply</url-pattern>
  </servlet-mapping>
</web-app>